<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 对应Mapper接口的全路径 -->
<mapper namespace="com.www.wstore.mapper.ManMapper">

    <!-- 查询所有用户 -->
    <select id="findAll" resultType="Man">
        SELECT * FROM admin
    </select>

</mapper>
